.appRoot {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: #f28658;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  height: 15%;
}

.content {
  display: flex;
  justify-content: space-around;
  height: 85%;
  align-items: stretch;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}

.accessPermission {
  flex-grow: 1;
}

.results {
  flex-grow: 3;
}